body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: sans-serif;
}
h1 {
  font-size: 4vw;
}
h2 {
  font-size: 1.6em;
}
.wrapper {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
}
.welcome {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
  background-color: #181183;
  color: #dacece;
  overflow-wrap: break-word;
  align-items: center;
  justify-content: center;
}
.heading2 {
  margin-top: -1em;
}
.welcome__content {
  width: 80%;
}

.lgb {
  margin-top: 15vh;
  font-size: 1.3em;
}
.text {
  font-size: 1em;
  margin-top: 5em;
}
.image {
  width: 100%;
  text-align: center;
}
img {
  width: 150px;
  height: 40px;
}

.signup {
  width: 45%;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup__content {
  width: 50%;
  height: 90%;
  padding: 2rem;
}

.signup__form input[type*='text'],
.signup__form input[type*='email'],
.signup__form input[type*='password'] {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  color: rgb(212, 6, 6);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background: transparent;
}
.signup__form input[type*='checkbox'] {
  cursor: pointer;
}

.signup__form--button1,
.signup__form--button2 {
  height: 3em;
  width: 10em;
  padding: 0.5em;
  color: #ffffff;
  border-radius: 0.5em;
  margin-top: 3em;
  background-color: #181183;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.signup__form--button2 {
  color: #000000;
  background-color: #ffffff;
}

@media only screen and (max-width: 950px) {
  .signup__content {
    width: 100%;
  }
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.3em;
  }
  .lgb {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }
  .welcome {
    width: 100%;
  }

  .signup {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .signup__form--button1,
  .signup__form--button2 {
    margin-bottom: 2em;
  }
}
